.text-manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-belleza {
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-monda {
  font-family: "Monda", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
